<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      </style>
</head>
<body>
    <h1>Signup</h1>
    <form action="/user" method="post">
        <label for="">full name</label>
        <input type="text" required name="name">
        <label for="">email</label>
        <input type="text" required name="email">
        <label for="">password</label>
        <input type="text" required name="password">
        <button type="submit">submit</button>
    </form>

</body>
</html>